<div id="content">

      <section class="py-5 grey lighten-4" id="about">
        <div class="container">
          <div class="pt-5 wow fadeIn text-center">
            <h2 class="h1 pt-5 pb-3">You have <span id="totalPoints" class="display-2">{{ summedPoints }}</span> <span class="display-3">🌎</span> earth points</h2>
          </div>
          <div class="row wow" data-wow-delay=".3s">
      <div class="col-lg-12 pl-lg-5 pb-4">

        <div class="pt-5 row wow" data-wow-delay=".3s">
      <div id="events" class="pt-5 col-lg-12 pl-lg-5 pb-4">

        {{#each events}}
              <div class="row mb-12">
                <div class="offset-2 col-1 mr-1 mt-2">
                  {{#if this.imageUrl}}
                    <img src={{this.imageUrl}} class="thumbnail"/>
                  {{else}}
                    <i class="mt-1 fa fa-{{this.icon}} fa-2x"></i>
                  {{/if}} 
                </div>
                <div class="col-5">
                  <p class="grey-text"></p>
                  You {{this.verb}} {{this.platform}} - {{this.formattedTimestamp}}
                  </p>
                  
                  <h5 class="font-weight-bold">
                    {{this.message}}
                  </h5>
                </div>
                <div class="col-2 mt-3"><h5>{{this.points}} 🌎</h5> </div>
              </div>
         {{/each}}
      </div>
    </div>
      </div>
    </div>
        </div>
      </section>

<section class="text-center py-5" id="pricing">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="h1 pt-5 pb-3">Earn points:</h2>
    </div>
    <div class="row wow zoomIn">
      {{#each platforms}}
        {{#if this.show }}
          <div class="col-lg-4 col-md-12 mb-5 {{this.name}}">
            <div class="card card-image">
              <div class="text-white text-center pricing-card d-flex align-items-center rgba-{{this.color}}-strong py-3 px-3 rounded">
                <div class="card-body">
                  <div class="py-5"><h4>Connect {{this.Name}}</h4></div>
                  <div class="py-3"><span class="display-4">10 🌎</span></div>
                  <a class="btn btn-outline-white mt-5" href="/connect/{{this.name}}">Connect</a>
                </div>
              </div>
            </div>
          </div>
        {{/if}}
      {{/each}}
      
      <div class="col-lg-4 col-md-12 mb-5 tutorial">
        <div class="card card-image">
          <div class="text-white text-center pricing-card d-flex align-items-center rgba-green-strong py-3 px-3 rounded">
            <div class="card-body">
              <div class="py-5"><h4>Complete the tutorial</h4></div>
              <div class="py-3"><span class="display-4">{{this.points}}3 🌎</span></div>
              <a class="btn disabled btn-outline-white mt-5" href="#">Coming soon</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="text-center py-5" id="pricing">
  <div class="container">
    <div class="wow fadeIn">
      <h2 class="h1 pt-5 pb-3">Spend points:</h2>
    </div>
    <div class="row wow zoomIn">
      <div class="col-lg-4 col-md-12 mb-5 tree">
        <div class="card card-image">
          <div class="text-white text-center pricing-card d-flex align-items-center rgba-green-strong py-3 px-3 rounded">
            <div class="card-body">
              <div class="py-5"><h4>Plant a physical tree</h4></div>
              <div class="py-3"><span class="display-4">100 🌎</span></div>
              <a class="btn btn-outline-white disabled mt-5">Not enough points</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section id="contact" style="background-image:url('img/join-the-movement-bg.webp')">
  <div class="py-5">
    <div class="container">
      <div class="wow fadeIn">
        <h2 class="h1 pt-5 pb-3 text-center">About Conscious Planet</h2>
        <p class="px-5 mb-5 pb-3 lead text-center">
          Conscious Planet is a Global Movement to initiate a conscious approach to soil and planet. The movement seeks to show governments of all nations that their citizens want a policy to revitalize soil and ecology.
<br/><br/>
Thousands of eminent intellectuals, scientists, celebrities, policy experts and spiritual leaders are uniting for this common goal, to restore the soil and rekindle humanity’s relationship with Mother Earth.
        </p>
      </div>
    </div>
  </div>
</section>
</div>

<script type="text/javascript">
  const eventSource = new EventSource('/sse');
  eventSource.onmessage = ({ data }) => {
    data = JSON.parse(data);
    if(data.summedPoints) {
      jQuery("#totalPoints").text(data.summedPoints);
    }
    if(data.eventsHTML) {
      jQuery("#events").html(data.eventsHTML);
    }
  };
</script>