<form id="edit-rule-form" action="{{baseUrl}}/rule/{{rule.id}}/edit" method="POST">
  <input type="hidden" name="id" value="{{rule.id}}" />
  <input id="layersJson" type="hidden" name="layersJson" value="{{rule.layersJson}}" />
  <div id="content">
    <section class="mt-5 rules" id="edit-rules">
      <div class="container">
        <div class="row wow zoomIn"></div>
        <div class="col-lg-8 col-md-8 mb-5 {{rule.name}}">
          <div class="wow fadeIn py-5">
            <h2 class="h1 pt-5 pb-3">Editing rule</h2>
          </div>
          <div class="form-group">
            <h4><label for="rule-name">Name</label></h4>
            <input id="rule-name" name="name" class="form-control input-lg" value="{{this.rule.name}}" />
          </div>
          <div class="form-group row mb-3">
            <div class="col-xs-6">
            <h4><label for="rule-template">Template</label></h4>
            <select class="form-control input-lg" name="template" id="rule-template">
              {{#each templates}}
              <option value="{{@key}}" {{#if (eq @root.rule.template @key)}}selected{{/if}}>{{this.title}}</option>
              {{/each}}
            </select>
            <i>{{rule.description}}</i>
            </div>
          </div>
          <div class="form-group">
            <h4><label for="rule-name">Conditions</label></h4>
          </div>
          {{#each rule.layers}}
            <div class="form-group">
              <h5>{{ this.title }}</h5>
              {{{ renderLayer this }}}
            </div>
          {{/each}}
          <div class="form-group">
            <h4>Reward</h4>

            <div class="form-group row">
              <div class="col-xs-2">
                <label for="rule-points">Points</label>
                <input id="rule-points" name="points" class="form-control input-lg" value="{{this.rule.options.points}}" />
              </div>
            </div>

            <div class="form-group">
              <label for="rule-name">Message</label>
              <input id="rule-message" name="message" class="form-control input-lg" value="{{this.rule.options.message}}" />
            </div>

            <div class="form-group row">
              <div class="col-xs-2">
              <label for="rule-name">Priority</label>
              <input id="rule-priority" name="priority" class="form-control input-lg" value="{{this.rule.options.priority}}" />
              </div>
            </div>
            <h4>Enabled</h4>

            <div class="form-group row">
              <div class="col-xs-4">
                <label for="rule-enabled">Is the rule active?</label>
                <input id="rule-enabled" value="true" name="enabled" type="checkbox" class="form-control input-lg" {{#if this.rule.enabled}}checked{{/if}} />
              </div>
            </div>

            <div class="form-group">
              <a id="submit" href="#" class="btn btn-primary">Save</a>
              <a href="{{baseUrl}}/rule" class="btn btn-primary">Back</a>
            </div>
            <div class="form-group">
              {{#unless rule.new}}<a id="submit" href="{{baseUrl}}/rule/{{this.rule.id}}/delete" class="btn btn-danger">Delete</a>{{/unless}}
            </div>
          </div>
        </div>
        
        <div class="w-100"></div>
      </div>
  </div>
  </section>
  <section class="py-0">
    <div class="container">
      <div class="row wow">
        <div class="col-lg-4 col-md-8 mb-5">
          



        </div>
      </div>
    </div>
  </section>
  </div>
</form>