<br>

<h1 class="mt-5">Unsubscribe From EarthPoints Mailing List</h1>

<p>Check if you want to unsubscribe from particular mailing list.</p>

<div style="padding-top: 20px;">

    <form method="POST" action="/unsubscribe/{{userid}}">

        <input type="hidden" name="userid" value="{{userid}}" />
        
        {{#each allTemplates}}
            <label class="checkbox-container">{{this.name}}
                <input type="checkbox" name="templates[{{@index}}]" value="{{this.template}}" {{#if this.checked}}checked="checked"{{/if}} />
                <span class="checkmark"></span>
            </label>
        {{/each}}

        <textarea name="reason" placeholder="Please share your reason for unsubscribing. It will be a big support to offer a better experience to every one.">{{#if reason}}{{reason}}{{/if}}</textarea>

        <button type="submit" class="btn btn-primary">Update</button>

    </form>

</div>
