<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Earth Points Dashboard</title><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    {{#if customCss}}
      {{#each customCss}}
        <link href="{{baseUrl}}/css/{{this}}" rel="stylesheet">
      {{/each}}
    {{else}}
      <link href="{{baseUrl}}/css/bootstrap.min.css?ver=1.1.0" rel="stylesheet">
      <link href="{{baseUrl}}/css/mdb.min.css?ver=1.1.0" rel="stylesheet">
      <link href="{{baseUrl}}/css/main.css?ver=1.1.0" rel="stylesheet">
    {{/if}}
    {{#if gtag}}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=G-0E2LXQSQCZ"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{gtag}}');
      </script>
    {{/if}}
  </head>
  <body id="top">
    <header>
      <!-- Navbar-->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top scrolling-navbar" id="navbar" {{#if environment}}style="background-color: red !important"{{/if}}>
        <div class="container"><a class="navbar-brand" href="#"><strong>Earth Points Dashboard{{#if environment}} - WARNING {{environment}} SYSTEM{{/if}}</strong></a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          {{#if user }}
          <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item"><a class="nav-link" href="#contact">Logged in as {{ user.firstName }}</a></li>
            </ul><a class="btn btn-primary btn-rounded my-0" href="/logout" target="_blank">Logout</a>
          </div>
          {{/if}}
          <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarContent">-->
          </div>
        </div>
      </nav>
      <!-- Intro Section-->
    </header>
    {{{ body }}}
    
<footer class="page-footer green darken-2 center-on-small-only pt-0 mt-0">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="mb-5 flex-center"><a class="px-3" href="#"><i class="fa fa-facebook fa-lg white-text"></i></a><a class="px-3" href="#"><i class="fa fa-twitter fa-lg white-text"></i></a><a class="px-3" href="http://consciousplanet.org/privacy-policy/">Privacy Policy</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="{{baseUrl}}/scripts/jquery.min.js?ver=1.1.0"></script>
    <script type="text/javascript" src="{{baseUrl}}/scripts/popper.min.js?ver=1.1.0"></script>
    <script type="text/javascript" src="{{baseUrl}}/scripts/bootstrap.min.js?ver=1.1.0"></script>
    <script type="text/javascript" src="{{baseUrl}}/scripts/wow.min.js?ver=1.1.0"></script>
    <script type="text/javascript" src="{{baseUrl}}/scripts/mdb.min.js?ver=1.1.0"></script>
    <script>new WOW().init();</script>
    {{#if customScript}}<script type="text/javascript">{{{customScript}}}</script>{{/if}}
    {{#each customScripts}}
      <script type="text/javascript" src="{{baseUrl}}/scripts/{{this}}"></script>
    {{/each}}
  </body>
</html>